<!DOCTYPE html>
<html>  
    <head>  
        <meta charset="utf-8">
        <title>About Page</title>
    </head>
    <body>
        {{> header}}
        <h1>Come back later</h1>
        <p>Some works go into the srver</p>
    </body>
</html>